[core]
    # This is mandatory as it prevents encoding/line ending issues!
    autocrlf = false
    # This is recommended to warn about issues, it can also be set to `true` to
    # enforce the above.
	safecrlf = warn
